# App
NEXT_PUBLIC_URL=https://your-app.vercel.app

# MiniKit
NEXT_PUBLIC_MINIKIT_PROJECT_ID=
NEXT_PUBLIC_FARCASTER_HEADER=
NEXT_PUBLIC_FARCASTER_PAYLOAD=
NEXT_PUBLIC_FARCASTER_SIGNATURE=

# Alchemy
NEXT_PUBLIC_ALCHEMY_API_KEY=

# Neynar
NEYNAR_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Wallet Connect (Wagmi)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
